<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-home.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-landing.css')}}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" />

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <a class="navbar-brand" href="{{ url_for('landing_page') }}">
              <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" height="40" width="40" />
            </a>
          </div>
          <!-- <form class="search-form" method="GET" action="search">
            <input class="search-input" type="search" placeholder="Search" aria-label=" Search" name="q" />
            <button class="bttn-search" type="submit">Search</button>
          </form> -->
          <nav>
            <ul>
              <li>
                <a href="{{ url_for('home') }}">Home <span class="sr-only"></span></a>
              </li>
              {% if current_user.is_authenticated %} {% if current_user.privilage == 'admin' %}
              <li>
                <a href="{{ url_for('admin.index') }}">Admin</a>
              </li>
              {% endif %} {% else %}
              <li>
                <a href="{{ url_for('login') }}">Login</a>
              </li>
              <li>
                <a href="{{ url_for('register') }}">Register</a>
              </li>
              {% endif %} {% if current_user.is_authenticated %}
              <li>
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <br />
    <main role="main" class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          {% if current_user.is_authenticated %}
          <div class="jumbotron">
            <h1 class="display-6">Hello, {{ current_user.name.split(" ")[0] }}!</h1>
          </div>
          <hr class="my-4" />
          {% endif %} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock content %}
          <br />
          <br />
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
