Flask==1.1.2
Flask-Admin==1.5.7
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
stripe==2.56.0
SQLAlchemy<1.4.0
# Flask-Avatars==0.2.2
redis==3.5.3
pika==1.2.0
minio==7.0.3